|body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}

article, aside, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

header {
	background-color: #000000;
	opacity: 0.9;
	width: 100%;
	padding: 40px 0;
	/* 40 hore a dole 0 po stranach */
	text-align: center;
	color: white;
}
.obrazokmenu {
	float: right;
}

table, th, td {
	margin-left: 176px;
	border: 1px solid black;
	border-collapse: collapse;
	/*176px zarovnanie ktore funguje, collapse zabranuje dvom ciaram vedla seba */
}

th, td {
	padding: 5px;
	text-align: left;
}

a {
	text-decoration: none;
	color: inherit; /* ziadne podciarkovania ani podobne veci
	kazdy link nech ma farbu toho segmentu v ktorom sa nachadza */
}

i {
	float:left; /*Obrazku ku kontaktom */
	margin-right: 5px;
}

nav ul {
	background-color: #000000;
	overflow: hidden;
	color: white;
	padding: 0;
	text-align: center;
	margin: 0;
	opacity: 0.7;
	-webkit-transition: max-height 0.4s;
	-ms-transition: max-height 0.4s;
	-moz-transition: max-height 0.4s;
	-o-transition: max-height 0.4s;
	transition: max-height 0.4s; /*Transition na rozne prehliadace, 0.4 sekund fungu
	je zlata stredna cesta. Opacity sluzi ako zmena farby kedze nechcem mat fixnute menu */
}

nav ul li {
	display: inline-block;
	padding: 20px; /*Samotne menu */
}

nav ul li:hover {
	opacity: 0.75; /*Jemne tmavsi odtien sivej ked prejde mys nad odkaz na podstranku */
}

section {
	line-height: 1.5em;
	font-size: 0.9em;
	width: 75%;
	margin: 0 auto; /*Miesto kde sa nachadza content stranky, 25%
	sirky pre sidebar, auto to zarovna presne do stredu elementu v ktorom sa nachadza*/
}

.handle {
	width: 100%;
	color: white;
	background-color: #000000;
	opacity: 0.75;
	text-align: left;
	box-sizing: border-box;
	/*100 sirka a paddding by pretekala */
	padding: 15px 10px;
	cursor: pointer;
	display: none; /*skryty element pokial je stranka sirsia ako 1000px
	biela farba textu, cierne pozadie s priesvitnostou,zmeni kurzor  */
}

.fa fa-bars{
	float: right; /*Obrazok menu v menu */
}

.main {
	background-color: #ffffff;
	margin: 10px 320px 10px 10px; /*class pre hlavny text
	320px napravo kvoli vzhladu */
}

.main a:link {
	color: #828282;
	text-decoration: none;
	font-weight: bold; /*linky na ine podstranky alebo stranky su vyznacene v texte */
}

.sidebar {
	position: fixed;
	bottom: 4;
	right: 0;
	margin-right: 20px; /* TODO: Mozno ked scrollne o nieco dole tak zmyzne alebo nieco take pohraj sa s tym */
}

h1 {
	display: block;
	text-align: center;
	font-size: 3.5em;
	margin-top: 0.67em;
	margin-bottom: 0.67em;
	margin-left: 0;
	margin-right: 0;
	font-weight: bold;
	font-family: 'Slabo 27px', serif; /* Trosku upravene zakladne hodnoty h1 nadpisu
	spolocne aj s inym fontom */
}

.podnadpis {
	display: block;
	font-size: 1.5em;
	margin-top: 2em;
	margin-bottom: 0.83em;
	margin-left: 10px;
	margin-right: 0;
	font-weight: bold;
	font-family: 'Slabo 27px', serif; /*Upraveny h2 nadpis spolocne aj so
	zmenenym fontom */
}

.galeria {
	margin: 30px auto 0; /*auto to zarovna do stredu elementu v ktorom sa galeria nachadza */
}

.fotky li {
	float: left;
	margin: 12px; /* Samotne fotky */
	list-style-type: none;
}

#fotky {
	margin-left: 40px;
}

.fotky img {
	display: block;
	padding: 4px;
	background: #898686; /*vsetky obrazky v classe fotky maju padding */
}

.fotky img:hover {
	background: #5B5959; /*padding zmavne ked hover */
}

#fotkavclanku {
	margin-left: 10px; /*Fotka v clanku na hlavnej stranke*/
}

.myForm {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 0.8em;
	width: 20em;
	padding: 1em;
	border: 1px solid #ccc;
	margin-left: 170px;
	margin-top: 5px;
}

.myForm * {
	box-sizing: border-box;
}

.myForm fieldset {
	border: none;
	padding: 0;
}

.myForm legend, .myForm label {
	padding: 0;
	font-weight: bold;
}

.myForm label.choice {
	font-size: 0.9em;
	font-weight: normal;
}

.myForm input[type="text"], .myForm input[type="tel"], .myForm input[type="email"], .myForm input[type="datetime-local"], .myForm select, .myForm textarea {
	display: block;
	width: 100%;
	border: 1px solid #ccc;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 0.9em;
	padding: 0.3em;
}

.myForm textarea {
	height: 100px;
}

.myForm button {
	padding: 1em;
	border-radius: 0.5em;
	background: #eee;
	border: none;
	font-weight: bold;
	margin-top: 1em;
}

.myForm button:hover {
	background: #ccc;
	cursor: pointer;
}
/*my form je cely okopirovany z tohto blogu
http://brolik.com/blog/responsive-web-design-footer-html-css-jquery-code-examples/ */

.footer {
	text-align: center;
	color: #535353;
	margin-top: 100px; /*footer s odstupom z hora, siva farba */
}


.albumy {
	padding: 4px;
	background: #898686;
	margin: 20px 150px 10px 200px; /*fotky albumov v podstranke */
}

#empyrean {
	padding: 4px;
	background: #898686;
	margin: 20px 150px 10px 100px; /* z dovodu vacsej velkosti bola potrebna id */
}

.formulka {
	width: 20%;
	position: absolute;
	left: 20px;
}

@media only screen and (device-width: 1230px), only screen and (max-width: 1230px) {
	.main {
		margin-right: -40px;
	}
	.sidebar {
		display: none;
	} /*ak sa stranka zmensi pod 1230 px skryje sa sidebar a main. si urobi miesto
	tam kde by bol inak sidebar. */
}

@media screen and (max-width: 1000px) {
	nav ul {
		max-height: 0;
		/*lepsie ako nastavovanie vysky, moze zabranit komplikaciam*/
	}
	.showing {
		max-height: 25em;
	}
	nav ul li {
		width: 100%;
		box-sizing: border-box;
		/*100 sirka a paddding by pretekala */
		padding: 15px;
		text-align: center;
		font-size: 20px;
	}

	.main {
		font size: 20px; /*zmeni sa velkost pisma */
	}
	.handle {
		display: block;
	} /*bez tohto to zmizne */
}
